.product-container{
    margin-top:74px;
    padding-left: 20px;
    font-size: 2em;
}

.add-review{
    font-size: 1em;
}

.product-container input{
    font-size: 1em;
    text-align: center;
}

.no-results{
    font-size: 2em;
    margin-top: 74px;
}